.wrap{position:relative}
.main{
  display:flex;flex-direction:column;align-items:center;
  background:none;border:none;color:#fff;cursor:pointer;padding:0 10px
}
.ic{font-size:20px;margin-bottom:2px}
.top{font-size:12px;color:#bbb;line-height:1}
.bot{font-size:14px;font-weight:700;line-height:1}
.dropdown{position:absolute;top:100%;right:0;width:165px;
  background:#111;border:1px solid #333;border-radius:6px;padding:6px 0;z-index:9999}
.dropdown button{width:100%;padding:10px 12px;background:none;border:none;color:#fff;text-align:left}
.dropdown button:hover{background:#222}
