.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000; /* Màu đen */
  color: white;
  width: 100%;
  height: 60px; /* Chiều cao cố định */
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 50px;
  object-fit: contain;
}

/* Search ở giữa */
.searchArea {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* Khu vực ngôn ngữ, đăng nhập, giỏ hàng */
.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}
